.home {
  color:rgba(255, 255, 255, 0.884);
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
}

.but{
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 1;
  background-color: white;
  border-radius: 20px;
  border: 5px groove white;
}

.homeInterno{
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  color: rgb(179, 193, 206);
}

.cajaDisp{
 display: flex;
 position: relative;
 color: black;
 background-color: #fff;
 padding: 4%;
 align-items: center;
 opacity: 0.9;
 border-bottom: groove 15px rgba(10, 131, 81, 0.664);
}

.imgLog{
  width: 45%;
  height: 50%;
  padding: 1%;
}

.imgDos{
  display: flex;
  position: absolute;
  left: 37%;
  top: 2%;
  width: 25%;
  /* margin: 1%; */
  padding: 1%;
  z-index: 999999;
}

.btns{
  width: 20%;
}

.imagens{
  opacity: 0.7;
  border: groove 15px rgba(10, 131, 81, 0.664);
}

.texto {
    display: flex;
    position: relative;
    padding-left: 3%;
    background: -webkit-linear-gradient(#fff,rgb(132 255 255 / 67%));
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
    color: rgb(204, 172, 172);
    animation: 2s linear 0s infinite alternate rise ;
    font-family: Always Smile Normal
}

.cajaWeb{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: antiquewhite;
    padding: 2%;
  }

.web{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    /* animation: 10s linear 0s infinite alternate trasladarx ; */
}

.proyect{
    display:contents;
    position: relative;
    align-items: center;
}

.cajaPie{
  background-color: #000000d6;
  padding: 20px;
  display: flex;
  position: relative;
  justify-content: center;
  bottom: 0.00001px;
}

.piePag{
  display: flex;
  position: relative;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 5px;
   flex-direction: column;
}

.slider {
    position: relative;
    /* margin-left: 10%; */
}

.slides {
    position: relative;
    display: flex;
    overflow: hidden;
}

.slide {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100vw;
    flex-shrink: 0;
    animation-name: slide;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

  .slides:hover .slide {
    animation-play-state: paused;
  }

  .slide img {
    width: 50%;
    border: 8px groove white;
    margin-left: 3%;
    vertical-align: top;
  }

  .slide a {
    width: 100%;
    display: inline-block;
    position: relative;
  }

  .caption {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 8vw;
    position: absolute;
    bottom: 8vw;
    right: 4vw;
  }

  .slide:target {
    animation-name: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
  }

  .slider-controler {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 5px;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
  }

  .slider-controler li {
    /* margin: 0 0.5rem; */
    display: inline-block;
    vertical-align: top;
  }

  .slider-controler a {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
  }

.caption {
      font-size: 96px;
      bottom: 96px;
      right: 50px;
  }

  @media only screen and (min-width: 1200px) {
    .slide {
      width: 1200px;
    }
  }
 @keyframes slide {
        0% { transform: translateX(0); }
        10% { transform: translateX(0); }

        15% { transform: translateX(-100%); }
        30% { transform: translateX(-100%); }

        35% { transform: translateX(-200%); }
        50% { transform: translateX(-200%); }

        55% { transform: translateX(-300%); }
        70% { transform: translateX(-300%); }

        75% { transform: translateX(-400%); }
        90% { transform: translateX(-400%); }

        95% { transform: translateX(-500%); }
        100% { transform: translateX(-500%); }
      }

      * { box-sizing: border-box; }
      html { scroll-behavior: smooth; }

      .wrapper {
         width: 70%;
        margin-left: 20%;
      }

    @keyframes rise {
        from {
          transform: perspective(100px) translateZ(1px)
        }
        to {
          transform: translateZ(2px);
        }
      }

  @keyframes trasladarx {
        from {
          transform: perspective(100px) translateX(500px)
        }
        to {
          transform: translateX(-500px);
        }
      }

            @media(max-width: 800px){
            .homeInterno{
              font-size:x-small;
              }
            }

            @media(max-width: 600px){
              .homeInterno{
                flex-direction: column;
                }
            }

            @media(max-width: 800px){
                h2, h3{
                  font-size:x-large;
                }
            }
              
            @media(max-width: 440px){
              h2, h3{
                font-size:medium;
                }
              }
              
              @media(max-width: 440px){
                h1{
                  font-size: xx-large;
                }
              }
              
              @media(max-width: 550px) {
                .cajaPie{
                  font-size: x-small;
                }
              }
                
               @media (max-width: 750px){
                  .wrapper{
                    margin-left: 15%;
                  }
                }
                @media(max-width: 550px){
                  .home{
                    font-size:x-small;
                    }
                }
                
                @media (max-width: 550px){
                  .wrapper{
                    margin-left: 10%;
                  }
                }
                @media (max-width: 350px){
                  .wrapper{
                    margin-left: 6%;
                  }
                }
