.nav{
    padding: 0.5%;
}

.navBtn{
    margin-left: auto;
    margin-right: 4%;
    display: flex;
    position: relative;
    align-items: center; 
}

.btn{
    border: solid 1px white;
    color: azure;
    margin-bottom: 1px;
}

    @media(max-width: 400px){ 
        .nav, .btn{    
          font-size: x-small;
          }
    }
